body {
    overflow: hidden;

    background-image: linear-gradient(rgba(0,  0,  0,  0.7), rgba(0,  0,  0,  0.9)), url('img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;

    color: white;
}

.pagetitle {
    font-size: 40pt;
}

.desctext {
    color: lightgray;
    font-family: monospace;
    font-weight: bold;
}

.highlight {
    color: #05c4c7;
}

.price {
    text-decoration: underline;
}

.fee {
    color: gold;
}

.container {
    min-width: 100%;
    overflow: auto;
    display: grid;
    place-items: center;
    height: 100vh;
}
  
.forms {
    margin-top: 10px;
    margin-bottom: 10px;
}

.output {
    color: pink;
    font-weight: bold;
    margin-top: 10px;
}

h1 {
    color: lightgray;
}

.green {
    color: #66d985;
}

.orange {
    color: #f7931a;
}

.tan {
    color: #cfad70;
}

.blue {
    color: #48cbd9;
}