body {
    overflow: hidden;

    background-image: linear-gradient(rgba(0,  0,  0,  0.5), rgba(0,  0,  0,  0.5)), url('img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;

    color: white;
}

.pagetitle {
    font-size: 40pt;
}

.timetext {
    color: lightgray;
    font-family: monospace;
    font-weight: bold;
}

.time {
    color: cyan;
}

.container {
    overflow: auto;
    display: grid;
    place-items: center;
    height: 100vh;
}
  
.forms {
    margin-top: 10px;
    margin-bottom: 10px;
}

.output {
    color: pink;
    font-weight: bold;
    margin-top: 10px;
}