body {
    overflow: hidden;

    background-image: linear-gradient(rgba(0,  0,  0,  0.7), rgba(0,  0,  0,  0.9)), url('img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;

    color: white;
}

.content {
    position: absolute;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20%;
    margin-bottom: 30%;
}

p {
    font-size: 40pt;
}

.desctext {
    margin: 10px;
    color: lightgray;
    font-family: monospace;
    font-weight: bold;
}

.highlight {
    color: #ef3838;
}

.price {
    text-decoration: underline;
    font-size: 70pt;
}

.orange {
    color: #f7931a;
}
